@using DevOpsLab.Client.Pages.Admin
@using DevOpsLab.Client.Shared.NavMenuTop
@using DevOpsLab.Client.Helpers
@using DevOpsLab.Shared

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

@implements IDisposable

<div class="main-container">
    <NavMenuTop/>
    <div class="content-container">
        @if (SideNavVisible)
        {
            <nav class="sidenav">
                @if (AdminVisible)
                {
                    <AuthorizeView Policy="@PolicyTypes.RequireAdmin">
                        <Authorized>
                            <AdminSidebar/>
                        </Authorized>
                    </AuthorizeView>
                }
            </nav>
        }
        <div class="content-area">
            @Body
        </div>
    </div>
</div>

@code {
    private Tuple<bool, bool> _locationState;

    private bool SideNavVisible => AdminVisible;

    private bool AdminVisible => NavigationManager.PathActive(PathHelper.AdminPath);

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        LocationChangedInternal();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs locationChanged)
    {
        LocationChangedInternal();
    }

    private void LocationChangedInternal()
    {
        var locationState = new Tuple<bool, bool>(SideNavVisible, AdminVisible);
        if (_locationState == null || !locationState.Equals(_locationState))
        {
            StateHasChanged();
        }
        _locationState = locationState;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }

}
