@inherits LayoutComponentBase

<div class="main-container">
    <NavMenuTop />
    <div class="content-container">
        <nav class="sidenav">
            
        </nav>
        <div class="content-area">
            @Body
        </div>
    </div>
</div>
