<clr-dg-row role="rowgroup" class="datagrid-row">
    <div role="row" class="datagrid-row-master datagrid-row-flex">
        @if (Actions != default)
        {
            <div class="datagrid-row-sticky">
                <div role="gridcell" class="datagrid-row-actions datagrid-fixed-column datagrid-cell">
                    <clr-dg-action-overflow>
                        @Actions
                    </clr-dg-action-overflow>
                </div>
            </div>
        }
        <div class="datagrid-row-scrollable">
            <div class="datagrid-scrolling-cells">
                @Cells
            </div>
        </div>
    </div>
</clr-dg-row>

@code
{
    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public RenderFragment Cells { get; set; }
}
