@typeparam TSort

<button
    type="button"
    class="datagrid-column-title"
    aria-label="Sort Column"
    @onclick="SortClick"
    disabled="@Loading">
    @Text
    @if (IsSorted)
    {
        <clr-icon class="sort-icon ng-star-inserted" role="none" shape="@ArrowShape"/>
    }
</button>

@code
{
    [CascadingParameter(Name = "Loading")]
    public bool Loading { get; set; }

    [Parameter]
    public SortParam<TSort> SortParam { get; set; }

    [Parameter]
    public TSort SortAsc { get; set; }

    [Parameter]
    public TSort SortDesc { get; set; }

    [CascadingParameter(Name = "Refresh")]
    public Func<Task> Refresh { get; set; }

    [Parameter]
    public string Text { get; set; }

    private bool IsSorted => SortParam.Value.Equals(SortAsc) || SortParam.Value.Equals(SortDesc);

    private bool IsAsc => SortParam.Value.Equals(SortAsc);

    private string ArrowShape => IsAsc ? "arrow" : "arrow down";

    private async Task SortClick()
    {
        if (!IsSorted || !IsAsc)
        {
            SortParam.Value = SortAsc;
        }
        else
        {
            SortParam.Value = SortDesc;
        }
        await Refresh();
    }
}
