<div role="rowgroup" class="datagrid-header">
    <div role="row" class="datagrid-row">
        <div class="datagrid-row-master datagrid-row-flex">
            @if (HasActions)
            {
                <div class="datagrid-row-sticky">
                    <div role="columnheader" class="datagrid-column datagrid-row-actions datagrid-fixed-column" aria-label="Actions">
                        <div class="datagrid-column-separator"/>
                    </div>
                </div>
            }
            <div class="datagrid-row-scrollable">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool HasActions { get; set; }
}
