@page "/admin"
@using DevOpsLab.Shared
@using DevOpsLab.Client.Services.Hub

@inject AdminHubClient AdminHubClient

<AuthorizeView Policy="@PolicyTypes.RequireAdmin">
    <Authorized>
        <h1>Admin</h1>
    </Authorized>
</AuthorizeView>
