@page "/admin/courses"

@using DevOpsLab.Client.Components

@inherits AdminBase

<h1>Courses</h1>

<div class="datagrid-outer-wrapper">
    <div class="datagrid-inner-wrapper">
        <div class="datagrid">
            <div class="datagrid-table-wrapper">
                <div role="grid" class="datagrid-table">
                    <div role="rowgroup" class="datagrid-header">
                        <div role="row" class="datagrid-row">
                            <div class="datagrid-row-master datagrid-row-flex">
                                <div class="datagrid-row-scrollable">
                                    <clr-dg-column _ngcontent-clarity-c219="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 94px;">
                                        <div class="datagrid-column-flex">
                                            <!----><!----><!----><!----><span class="datagrid-column-title ng-star-inserted">User ID<!----></span><!---->
                                            <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div><!---->
                                                <div class="datagrid-column-resize-tracker"></div>
                                            </clr-dg-column-separator><!---->
                                        </div>
                                    </clr-dg-column>
                                    <clr-dg-column _ngcontent-clarity-c219="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 94px;">
                                        <div class="datagrid-column-flex">
                                            <!----><!----><!----><!----><span class="datagrid-column-title ng-star-inserted">Name<!----></span><!---->
                                            <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div><!---->
                                                <div class="datagrid-column-resize-tracker"></div>
                                            </clr-dg-column-separator><!---->
                                        </div>
                                    </clr-dg-column>
                                    <clr-dg-column _ngcontent-clarity-c219="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 104px;">
                                        <div class="datagrid-column-flex">
                                            <!----><!----><!----><!----><span class="datagrid-column-title ng-star-inserted">Creation date<!----></span><!---->
                                            <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div><!---->
                                                <div class="datagrid-column-resize-tracker"></div>
                                            </clr-dg-column-separator><!---->
                                        </div>
                                    </clr-dg-column>
                                    <clr-dg-column _ngcontent-clarity-c219="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 103px;">
                                        <div class="datagrid-column-flex">
                                            <!----><!----><!----><!----><span class="datagrid-column-title ng-star-inserted">Favorite color<!----></span><!---->
                                            <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div><!---->
                                                <div class="datagrid-column-resize-tracker"></div>
                                            </clr-dg-column-separator><!---->
                                        </div>
                                    </clr-dg-column><!---->
                                </div>
                            </div>
                        </div>
                    </div>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row1" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row1">
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">13225</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Johnson</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Mar 2, 2016</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Green</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row2" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row2">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">50862</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Ellen</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Jul 19, 2017</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Purple</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row3" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row3">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">35776</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Desirae</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Oct 11, 2016</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Yellow</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row4" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row4">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">2145</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Nelson</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">May 27, 2015</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Violet</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row5" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row5">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">26577</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Alica</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">May 5, 2017</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Orange</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row6" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row6">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">37257</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Nidia</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Mar 23, 2016</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Violet</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row7" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row7">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">22035</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Alica</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Jul 26, 2014</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">White</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row8" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row8">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">88719</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Graham</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Nov 27, 2017</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Yellow</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row9" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row9">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">51646</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Graham</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Jun 6, 2015</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Yellow</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row>
                    <clr-dg-row _ngcontent-clarity-c219="" role="rowgroup" aria-owns="clr-dg-row10" class="datagrid-row ng-star-inserted">
                        <!----><!---->
                        <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row10">
                            <div class="datagrid-row-sticky"><!----><!----><!----><!----><!----><!----></div>
                            <div class="datagrid-row-scrollable">
                                <div class="datagrid-scrolling-cells">
                                    <clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">23958</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">Marcella</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 104px;">Jan 5, 2017</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c219="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 103px;">Yellow</clr-dg-cell><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div><!----><!----><!----><!----><!---->
                    </clr-dg-row><!---->
                    <clr-dg-placeholder class="datagrid-placeholder-container ng-star-inserted">
                        <div class="datagrid-placeholder"><!----><!----></div>
                    </clr-dg-placeholder><!---->
                </div>
            </div>
        </div>
    </div>
</div>


<MarkdownTextarea StringParam='new StringParam("asdf")'/>
