@page "/admin/users"

@using DevOpsLab.Client.Components.Datagrid
@using DevOpsLab.Shared.Collections
@using DevOpsLab.Shared.Filter
@using DevOpsLab.Shared.Sort
@using DevOpsLab.Shared.ViewModels
@using Microsoft.AspNetCore.SignalR.Client

@inherits AdminBase

<h1>Users</h1>

<Datagrid Fetch="@Fetch" Paginate="true">
    <Header>
        <DatagridHeaderCell>Name</DatagridHeaderCell>
        <DatagridHeaderCell>Email</DatagridHeaderCell>
        <DatagridHeaderCell Separator="false">Role</DatagridHeaderCell>
    </Header>
    <ItemTemplate>
        <DatagridCell>@context.Name</DatagridCell>
        <DatagridCell>@context.Email</DatagridCell>
        <DatagridCell>@context.Role</DatagridCell>
    </ItemTemplate>
</Datagrid>

@code{
    private readonly AppUserFilter _filter = new AppUserFilter();

    private AppUserSort _sort = default;

    private async Task<ListResponse<AppUserVM>> Fetch(Paginate paginate)
    {
        await AdminHubClient.WaitConnectedAsync();
        ListResponse<AppUserVM> listResponse = null;
        await foreach (var response in AdminHubClient.HubConnection
            .StreamAsync<ListResponse<AppUserVM>>(
                "UserList",
                _filter,
                _sort,
                paginate
            ))
        {
            listResponse = response;
        }
        return listResponse;
    }

}
