@page "/admin/courses"

@using DevOpsLab.Client.Components

@inherits AdminBase

<h1>Courses</h1>

<clr-datagrid class="datagrid-host">
    <div class="datagrid-outer-wrapper">
        <div class="datagrid-inner-wrapper">
            <div class="datagrid">
                <div class="datagrid-table-wrapper">
                    <div role="grid" tabindex="-1" class="datagrid-table">
                        <div role="rowgroup" class="datagrid-header">
                            <div role="row" class="datagrid-row">
                                <div class="datagrid-row-master datagrid-row-flex">
                                    <div class="datagrid-row-sticky">
                                        <div role="columnheader" class="datagrid-column datagrid-select datagrid-fixed-column ng-star-inserted">
                                            <span class="datagrid-column-title">
                                                <clr-checkbox-wrapper class="clr-checkbox-wrapper ng-star-inserted">
                                                    <input clrcheckbox="" type="checkbox" aria-label="Select All" id="clr-form-control-61" class="ng-untouched ng-pristine ng-valid"><label class="clr-control-label ng-star-inserted" for="clr-form-control-61"></label>
                                                </clr-checkbox-wrapper>
                                            </span>
                                            <div class="datagrid-column-separator"></div>
                                        </div>
                                    </div>
                                    <div class="datagrid-row-scrollable">
                                        <clr-dg-column _ngcontent-clarity-c226="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 94px;">
                                            <div class="datagrid-column-flex">
                                                <span class="datagrid-column-title ng-star-inserted">User ID</span>
                                                <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                    <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div>
                                                    <div class="datagrid-column-resize-tracker"></div>
                                                </clr-dg-column-separator>
                                            </div>
                                        </clr-dg-column>
                                        <clr-dg-column _ngcontent-clarity-c226="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 112px;">
                                            <div class="datagrid-column-flex">
                                                <button type="button" class="datagrid-column-title ng-star-inserted" aria-label="Sort Column">Name</button>
                                                <clr-dg-string-filter class="ng-star-inserted">
                                                    <clr-dg-filter>
                                                        <button type="button" clrpopoveranchor="" clrpopoveropenclosebutton="" class="datagrid-filter-toggle clr-anchor clr-smart-open-close" aria-label="Toggle column filter" aria-expanded="false" aria-controls="clr-id-129">
                                                            <clr-icon class="is-solid" shape="filter-grid">
                                                                <svg version="1.1" class="has-solid " viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" role="img">
                                                                    <path class="clr-i-outline clr-i-outline-path-1" d="M15,25.86l2,1V20.27a1,1,0,0,0-.29-.7L10.23,13H25.79l-6.47,6.57a1,1,0,0,0-.29.7L19,28l2,1V20.68L27.58,14A1.46,1.46,0,0,0,28,13V12a1,1,0,0,0-1-1H9a1,1,0,0,0-1,1v1a1.46,1.46,0,0,0,.42,1L15,20.68Z"></path>
                                                                    <path class="clr-i-solid clr-i-solid-path-1" d="M8,11v1.12a.5.5,0,0,0,.15.35l7.28,7.36a.5.5,0,0,1,.15.35v6.89a.5.5,0,0,0,.28.45l3.95,1.41a.5.5,0,0,0,.72-.45l0-8.39a.54.54,0,0,1,.18-.35l7.12-7.25a.5.5,0,0,0,.15-.35V11Z"></path>
                                                                </svg>
                                                            </clr-icon>
                                                        </button>
                                                    </clr-dg-filter>
                                                </clr-dg-string-filter>
                                                <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                    <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div>
                                                    <div class="datagrid-column-resize-tracker"></div>
                                                </clr-dg-column-separator>
                                            </div>
                                        </clr-dg-column>
                                        <clr-dg-column _ngcontent-clarity-c226="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 153px;">
                                            <div class="datagrid-column-flex">
                                                <button type="button" class="datagrid-column-title ng-star-inserted" aria-label="Sort Column">Creation date</button>
                                                <clr-dg-string-filter class="ng-star-inserted">
                                                    <clr-dg-filter>
                                                        <button type="button" clrpopoveranchor="" clrpopoveropenclosebutton="" class="datagrid-filter-toggle clr-anchor clr-smart-open-close" aria-label="Toggle column filter" aria-expanded="false" aria-controls="clr-id-131">
                                                            <clr-icon class="is-solid" shape="filter-grid">
                                                                <svg version="1.1" class="has-solid " viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" role="img">
                                                                    <path class="clr-i-outline clr-i-outline-path-1" d="M15,25.86l2,1V20.27a1,1,0,0,0-.29-.7L10.23,13H25.79l-6.47,6.57a1,1,0,0,0-.29.7L19,28l2,1V20.68L27.58,14A1.46,1.46,0,0,0,28,13V12a1,1,0,0,0-1-1H9a1,1,0,0,0-1,1v1a1.46,1.46,0,0,0,.42,1L15,20.68Z"></path>
                                                                    <path class="clr-i-solid clr-i-solid-path-1" d="M8,11v1.12a.5.5,0,0,0,.15.35l7.28,7.36a.5.5,0,0,1,.15.35v6.89a.5.5,0,0,0,.28.45l3.95,1.41a.5.5,0,0,0,.72-.45l0-8.39a.54.54,0,0,1,.18-.35l7.12-7.25a.5.5,0,0,0,.15-.35V11Z"></path>
                                                                </svg>
                                                            </clr-icon>
                                                        </button>
                                                    </clr-dg-filter>
                                                </clr-dg-string-filter>
                                                <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                    <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div>
                                                    <div class="datagrid-column-resize-tracker"></div>
                                                </clr-dg-column-separator>
                                            </div>
                                        </clr-dg-column>
                                        <clr-dg-column _ngcontent-clarity-c226="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 131px;">
                                            <div class="datagrid-column-flex">
                                                <button type="button" class="datagrid-column-title ng-star-inserted" aria-label="Sort Column"> Pokemon </button>
                                                <clr-dg-string-filter _ngcontent-clarity-c226="">
                                                    <clr-dg-filter>
                                                        <button type="button" clrpopoveranchor="" clrpopoveropenclosebutton="" class="datagrid-filter-toggle clr-anchor clr-smart-open-close" aria-label="Toggle column filter" aria-expanded="false" aria-controls="clr-id-127">
                                                            <clr-icon class="is-solid" shape="filter-grid">
                                                                <svg version="1.1" class="has-solid " viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" role="img">
                                                                    <path class="clr-i-outline clr-i-outline-path-1" d="M15,25.86l2,1V20.27a1,1,0,0,0-.29-.7L10.23,13H25.79l-6.47,6.57a1,1,0,0,0-.29.7L19,28l2,1V20.68L27.58,14A1.46,1.46,0,0,0,28,13V12a1,1,0,0,0-1-1H9a1,1,0,0,0-1,1v1a1.46,1.46,0,0,0,.42,1L15,20.68Z"></path>
                                                                    <path class="clr-i-solid clr-i-solid-path-1" d="M8,11v1.12a.5.5,0,0,0,.15.35l7.28,7.36a.5.5,0,0,1,.15.35v6.89a.5.5,0,0,0,.28.45l3.95,1.41a.5.5,0,0,0,.72-.45l0-8.39a.54.54,0,0,1,.18-.35l7.12-7.25a.5.5,0,0,0,.15-.35V11Z"></path>
                                                                </svg>
                                                            </clr-icon>
                                                        </button>
                                                    </clr-dg-filter>
                                                </clr-dg-string-filter>
                                                <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                    <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div>
                                                    <div class="datagrid-column-resize-tracker"></div>
                                                </clr-dg-column-separator>
                                            </div>
                                        </clr-dg-column>
                                        <clr-dg-column _ngcontent-clarity-c226="" role="columnheader" aria-sort="none" class="datagrid-column ng-star-inserted" style="width: 155px;">
                                            <div class="datagrid-column-flex">
                                                <button type="button" class="datagrid-column-title ng-star-inserted" aria-label="Sort Column"> Favorite color </button>
                                                <clr-dg-filter _ngcontent-clarity-c226="">
                                                    <button type="button" clrpopoveranchor="" clrpopoveropenclosebutton="" class="datagrid-filter-toggle clr-anchor clr-smart-open-close" aria-label="Toggle column filter" aria-expanded="false" aria-controls="clr-id-126">
                                                        <clr-icon class="is-solid" shape="filter-grid">
                                                            <svg version="1.1" class="has-solid " viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" role="img">
                                                                <path class="clr-i-outline clr-i-outline-path-1" d="M15,25.86l2,1V20.27a1,1,0,0,0-.29-.7L10.23,13H25.79l-6.47,6.57a1,1,0,0,0-.29.7L19,28l2,1V20.68L27.58,14A1.46,1.46,0,0,0,28,13V12a1,1,0,0,0-1-1H9a1,1,0,0,0-1,1v1a1.46,1.46,0,0,0,.42,1L15,20.68Z"></path>
                                                                <path class="clr-i-solid clr-i-solid-path-1" d="M8,11v1.12a.5.5,0,0,0,.15.35l7.28,7.36a.5.5,0,0,1,.15.35v6.89a.5.5,0,0,0,.28.45l3.95,1.41a.5.5,0,0,0,.72-.45l0-8.39a.54.54,0,0,1,.18-.35l7.12-7.25a.5.5,0,0,0,.15-.35V11Z"></path>
                                                            </svg>
                                                        </clr-icon>
                                                    </button>
                                                </clr-dg-filter>
                                                <clr-dg-column-separator class="datagrid-column-separator ng-star-inserted">
                                                    <div aria-hidden="true" clrdraggable="" class="datagrid-column-handle drag-handle draggable"></div>
                                                    <div class="datagrid-column-resize-tracker"></div>
                                                </clr-dg-column-separator>
                                            </div>
                                        </clr-dg-column>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <clr-dg-row _ngcontent-clarity-c226="" role="rowgroup" aria-owns="clr-dg-row143" class="datagrid-row ng-star-inserted">

                            <div role="row" class="datagrid-row-master datagrid-row-flex ng-star-inserted" id="clr-dg-row143">
                                <div class="datagrid-row-sticky">
                                    <div role="gridcell" class="datagrid-select datagrid-fixed-column datagrid-cell ng-star-inserted">
                                        <clr-checkbox-wrapper class="clr-checkbox-wrapper ng-star-inserted">
                                            <input clrcheckbox="" type="checkbox" aria-label="Select" id="clr-dg-row-cb143" class="ng-untouched ng-pristine ng-valid"><label class="clr-control-label ng-star-inserted" for="clr-dg-row-cb143"></label>
                                        </clr-checkbox-wrapper>
                                    </div>
                                </div>
                                <div class="datagrid-row-scrollable">
                                    <div class="datagrid-scrolling-cells">
                                        <clr-dg-cell _ngcontent-clarity-c226="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 94px;">58343</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c226="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 112px;">Brad</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c226="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 153px;">Nov 3, 2017</clr-dg-cell><clr-dg-cell _ngcontent-clarity-c226="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 131px;">Cubone</clr-dg-cell>
                                        <clr-dg-cell _ngcontent-clarity-c226="" role="gridcell" class="datagrid-cell ng-star-inserted" style="width: 155px;">
                                            <span _ngcontent-clarity-c226="" class="color-square" style="background-color: green;"></span>
                                        </clr-dg-cell>
                                    </div>
                                </div>
                            </div>
                        </clr-dg-row>
                    </div>
                </div>
            </div>
            <clr-dg-footer _ngcontent-clarity-c226="" class="datagrid-footer">

                <div class="datagrid-footer-description ng-star-inserted"> 1 - 10 of 103</div>
                <clr-dg-pagination _ngcontent-clarity-c226="" class="pagination">

                    <div class="pagination-description ng-star-inserted"></div>
                    <div class="pagination-list ng-star-inserted">
                        <button type="button" class="pagination-first" disabled="" aria-label="First Page">
                            <clr-icon shape="step-forward-2 down">
                            </clr-icon>
                        </button>
                        <button type="button" class="pagination-previous" disabled="" aria-label="Previous Page">
                            <clr-icon shape="angle left">
                            </clr-icon>
                        </button><input type="text" class="pagination-current clr-input ng-star-inserted" size="2" aria-label="Current Page"> &nbsp;/&nbsp;<span aria-label="Total Pages">11</span>
                        <button type="button" class="pagination-next" aria-label="Next Page">
                            <clr-icon shape="angle right">
                            </clr-icon>
                        </button>
                        <button type="button" class="pagination-last" aria-label="Last Page">
                            <clr-icon shape="step-forward-2 up">
                            </clr-icon>
                        </button>
                    </div>
                </clr-dg-pagination>
            </clr-dg-footer>
        </div>
    </div>
</clr-datagrid>

<MarkdownTextarea StringParam='new StringParam("asdf")'/>
