@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DevOpsLab.Client.Components
@using DevOpsLab.Shared

<AuthorizeView Policy="@PolicyTypes.RequireInstructor">
    <Authorized>
        <a class="nav-link" href="train">Train</a>
        <a class="nav-link" href="instruct">Instruct</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="@PolicyTypes.RequireAdmin">
    <Authorized>
        <a class="nav-link" href="admin">Admin</a>
    </Authorized>
</AuthorizeView>
