<header class="header header-6">
    <div class="branding">
        <a class="title" href="">DevOpsLab</a>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
        <Links/>
    </div>
    <div class="header-actions">
        <AuthorizeView>
            <Authorized>
                <TrainingCodeDropdown/>
            </Authorized>
        </AuthorizeView>
        <UserDropdown/>
    </div>
    @* <LoginDisplay/> *@
</header>