@using DevOpsLab.Client.Components
@using DevOpsLab.Client.Pages.Train

@inherits TrainBase
@implements IDisposable

@if (TrainHubClient.ShouldConnectHere)
{
    DropdownContainer dropdownContainer = null;
    <DropdownContainer @ref="dropdownContainer">
        <div id="@dropdownContainer.Id" class="dropdown bottom-right @dropdownContainer.DropdownOpenClass">
            <button class="dropdown-toggle nav-btn" @onclick="dropdownContainer.DropdownToggle">
                Training Codes
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item">Training Code 1</button>
                <button class="dropdown-item">Training Code 2</button>
                <div class="dropdown-divider" role="separator"></div>
                <button class="dropdown-item">Add Training Code</button>
            </div>
        </div>
    </DropdownContainer>
}

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs locationChanged)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}