@using DevOpsLab.Client.Components
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager

<DropdownContainer @ref="_dropdownContainer">
    <div id="@_dropdownContainer.Id" class="dropdown bottom-right @_dropdownContainer.DropdownOpenClass">
        <button class="nav-icon dropdown-toggle" @onclick="_dropdownContainer.DropdownToggle">
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
            <AuthorizeView>
                <Authorized>
                    <h4 class="dropdown-header">Hello, @context.User.Identity.Name!</h4>
                    <DropdownLink Href="authentication/profile">Profile</DropdownLink>
                    <DropdownLink ActionAsync="@BeginSignOutAsync">Log out</DropdownLink>
                </Authorized>
                <NotAuthorized>
                    <h4 class="dropdown-header">Not Logged In</h4>
                    <DropdownLink Href="authentication/login">Log in</DropdownLink>
                    <DropdownLink Href="authentication/register">Register</DropdownLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</DropdownContainer>

@code {

    private DropdownContainer _dropdownContainer;

    private async Task BeginSignOutAsync()
    {
        await SignOutManager.SetSignOutState();
        NavigationManager.NavigateTo("authentication/logout");
    }

}
